ion-header{
    background: #ededed !important;
    height:6em !important;

    ion-toolbar{
        --background: #2b59a2;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        height:6em;
        ion-buttons, ion-title{
            color: white
        }
    }
}

.card {
  padding: 16px;
  background-color: #F5F5F5;
  color: #2b59a2;
}

.error-message{
  color: #f04141;
  font-size: 12px;
}

ion-button {
  margin-top: 24px;
}

.register {
  margin-top: 16px;
  color: #424242;
}

ion-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #212121;
}

ion-content{
    --background: #D3D3D3;
}
