<ion-header class ="header">
    <ion-toolbar >
        <ion-buttons slot="start">
            <ion-back-button (click)="backToLogin()"></ion-back-button>
        </ion-buttons>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card" color="#FFFAFA">
    <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
        <ion-item color="#F5F5F5" lines="full" no-margin no-padding>
            <ion-icon name="mail"></ion-icon>
            <ion-input placeholder="Email *" type="email" name="email" required [(ngModel)]="user.email" formControlName="email" clearInput></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
                <div class="error-message" *ngIf="registrationForm.get('email').hasError(validation.type) && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item color="#F5F5F5" lines="full" no-margin no-padding>
            <ion-icon name="key"></ion-icon>
            <ion-input placeholder="Password *" type="password" name="password" required [(ngModel)]="user.password" formControlName="password" clearInput></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.password">
                <div class="error-message" *ngIf="registrationForm.get('password').hasError(validation.type) && (registrationForm.get('password').dirty || registrationForm.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
<!--        <ion-item>-->
<!--            <ion-label>Repeat Password</ion-label>-->
<!--            <ion-input type="password" name="password_repeat" required [(ngModel)]="user.password_repeat" formControlName="repeat_password"></ion-input>-->
<!--        </ion-item>-->
        <ion-button expand="block" type="submit" block [disabled]="registrationForm.invalid">REGISTER</ion-button>
    </form>
    </ion-card>
</ion-content>
