<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Budget FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="expandQuestion(question)" *ngFor="let question of questions">
    <ion-card-header  class="expand-header">
    <ion-text>{{question.name}}</ion-text>
    </ion-card-header>
<!--      class="open-{{question.expanded}}"-->
    <ion-card-content  class="closed">
      <app-expandable class="faq-answer" expandHeight="250px" [expanded]="question.expanded" >
          <span>Answer: </span>  {{question.text}}
      </app-expandable>
    </ion-card-content>
  </ion-card>
 </ion-content>
