<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Budget FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="expandQuestion(question)" *ngFor="let question of questions">
    <ion-card-header  class="expand-header">
    <ion-text>{{question.name}}</ion-text>
    </ion-card-header>
    <!-- <ion-card-content>
      <app-expandable expandHeight="1200px" [expanded]="question.expanded" >
        <p >   
          A budget is a plan that helps you manage your money.
          It helps you detemine how much you get, spend and save.
        </p>
      </app-expandable>
    </ion-card-content> -->
  </ion-card>
 </ion-content>
