<ion-header class="header">
  <ion-toolbar color="#467fd7">
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Budget FAQs</ion-title>
      <ion-buttons slot = "end">
          <ion-button shape="round" size="large" (click)="navigateToLogin()">
              <ion-icon name="person"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class ="content" >
  <ion-card (click)="expandQuestion(question)" *ngFor="let question of questions" > 
    <ion-card-header  class="expand-header">
      <ion-text><h2>{{question.name}}</h2></ion-text>
    </ion-card-header>
     <ion-card-content  class="closed" color="dimgray">
      <app-expandable class="faq-answer" expandHeight="450px" [expanded]="question.expanded" >
            <ion-grid class="answer" >
            <div>
              <ion-row *ngFor="let text of question.text">
                <ion-text>{{text}}</ion-text>
              </ion-row>
            </div>
          </ion-grid>
      </app-expandable>
    </ion-card-content> 
  </ion-card>
 </ion-content>
