<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h1>Development Team</h1>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/female.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Supreet Kaur</h2>
        <h3>Team Lead / UI Designer</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/female.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Dipal Patel</h2>
        <h3>Database Administrator</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/male.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Jiansheng(Jason) Sun</h2>
        <h3>Developer</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/ZhaoningCai.png">
      </ion-avatar>
      <ion-label>
        <h2>Zhaoning(Kyle) Cai</h2>
        <h3>Developer</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/female.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Veronika Kotckovich</h2>
        <h3>QA Tester</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h1>Description</h1>
    </ion-list-header>
    <ion-item>
      <p>
        360 Finance is a mobile application which will help students manage their money. It will help students to determine how much money they get, spend and save.
        <br><br>
        The application is connected to a Firebase database through the Firebase API to store and manage user input.
      </p>
    </ion-item>
  </ion-list>
</ion-content>
