.summary-view{
  --offset-top:-1.5em !important;
  --background: #ededed;
  
  .header {
    color: gray;
    text-align: center;
    padding-top: 0.5vw;
    font-style: bold;
  }
  .total-balance {
    text-align: center;
  }
  .chart-text {
      padding-left: 2vw;
      color: gray;
  }
  .chart-icon {
      padding-left: 2vw;
  }

  .suggestion-text{
    padding-left: 10vw;
  }

  .suggestion-title{
      color: gray;
      margin-left: 10vw;
  }

  .expand-header{
    height: 15px;
    color: white;
    margin-bottom:0.8em;
  }

  .summary-positive {
    color: green;
  }

  .summary-negative {
    color: red;
  }
  ion-card{
    --background: #467fd7;
    color: white;
  }
}
