<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
  <img src="assets/images/logo.png" height="100px" width = "100px"/>
  <h2>Welcome to 360 Finance</h2>
  <p> Your budget Assistant on your fingertips</p>
  </ion-slide>
  <ion-slide>
  <h2>Where to start</h2>
  <img src="assets/images/money-4311572_1280.png" height="300px" width = "300px"/>
  <p>Start counting your income, expenses and set a <b>budget</b>.
  <br>That's how you can start saving from today itself</p>
  </ion-slide>
  <ion-slide>
    <img src="assets/images/onboarding.jpeg"  height="400px" width = "300px" />
  <h2>How to achieve your set goals</h2>
  <p>Set a budget and try to stick to it.<br>Get some amazing tips such as in what areas you can cut your expenses</p>
  </ion-slide>
  </ion-slides> 