<ion-header class="header" no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="card" color="#FFFAFA">

    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <ion-item color="#F5F5F5" lines="full" no-margin no-padding>
            <ion-icon name="mail"></ion-icon>
            <ion-input placeholder="Email *" type="email" name="email" required [(ngModel)]="user.email" formControlName="email" clearInput></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
                <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item color="#F5F5F5" lines="full" lines="full" no-margin no-padding>
            <ion-icon name="key"></ion-icon>
            <ion-input placeholder="Password *" type="password" name="password" required [(ngModel)]="user.password" formControlName="password" clearInput></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.password">
                <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-button expand="block" type="submit" block [disabled]="loginForm.invalid">LOGIN</ion-button>
    </form>

    <ion-row>
        <ion-label text-center class="register">
            If you don't have an account, please <a routerLink='/registration'>
            register</a> first!
        </ion-label>
    </ion-row>
</ion-card>
</ion-content>
