<ion-header class ="header">
    <ion-toolbar color="#467fd7">
        <!-- <img src="assets/images/logo.png" class="smallLogo"/> -->
        <ion-buttons slot="start">
            <ion-back-button  ></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
        <ion-buttons slot = "end">
            <ion-button (click)="navigateToRegister()" color="white">
                Register
            </ion-button>
        </ion-buttons>
     
    </ion-toolbar>
</ion-header>

<ion-content class="content" color="#FFFAFA">
   
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <ion-item color="#F5F5F5">
            <ion-label>Email *</ion-label>
            <ion-input type="email" name="email" required [(ngModel)]="user.email" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
                <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item color="#F5F5F5">
            <ion-label >Password *</ion-label>
            <ion-input type="password" name="password" required [(ngModel)]="user.password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.password">
                <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <button color="danger" ion-button type="submit" block [disabled]="loginForm.invalid">Login</button>
    </form>

    <ion-button (click)="checkIfLogged()" color="medium">Check if logged in</ion-button>
    <ion-button (click)="logout()" color="medium">Log out</ion-button>
</ion-content>
