ion-header{
    background: #ededed !important;
    ion-toolbar{
        --background: #2b59a2;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        height:6em;
        ion-buttons, ion-title{
            color: white
        }
    }
}