.modal-header {
  background: #ededed !important;

  ion-toolbar {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    --background: #2b59a2;
    color: white;
  }
}

.modal-content {
  --background: #ededed;

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: #ededed;
  }

  ion-input {
    text-align: right;
  }

  .optional {
    font-size: smaller;
    font-style: italic;
  }
}
