<ion-app>
  <ion-menu content-id="menu">
    <ion-list lines="yes">
      <ion-item [href]="'./budget-balance/budget-balance.module'" routerDirection="forward">
        <ion-icon  detail="true" slot="start" color="grey" name="calculator"></ion-icon>
        <ion-label>Budget Balance</ion-label>
      </ion-item>
    <ion-item href="./budget-faqs.page">
      <ion-icon  detail="true" slot="start" color="grey" name="help-circle"></ion-icon>
      <ion-label>Budget FAQs</ion-label>
    </ion-item>
    <ion-item href="./budget-history.page">
      <ion-icon detail="true" slot="start" color="grey" name="paper"></ion-icon>
      <ion-label>Budget History</ion-label>
    </ion-item>
    
  </ion-list>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
