<ion-app>
  <ion-menu content-id="menu">
    <ion-header>
      <ion-toolbar >
        <ion-title>Budget Information</ion-title>
      </ion-toolbar> 
      </ion-header>
      <ion-content>
    <ion-list lines="yes">
      <ion-item [href]="'./budget-balance'" routerDirection="forward">
        <ion-icon  detail="true" slot="start" color="grey" name="calculator"></ion-icon>
        <ion-label>Budget Balance</ion-label>
      </ion-item>
    <ion-item href="./budget-faqs" routerDirection="forward">
      <ion-icon  detail="true" slot="start" color="grey" name="help-circle"></ion-icon>
      <ion-label>Budget FAQs</ion-label>
    </ion-item>
    <ion-item href="./budget-history" routerDirection="forward">
      <ion-icon detail="true" slot="start" color="grey" name="paper"></ion-icon>
      <ion-label>Budget History</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
