<ion-content class="income-view">
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="fixed-income">
                <div class="content">
                    <ion-icon name="card"></ion-icon>
                    <ion-label>Fixed</ion-label>
                </div>
            </ion-tab-button>

            <ion-tab-button tab="variable-income">
                <div class="content">
                    <ion-icon name="cash"></ion-icon>
                    <ion-label>Variable</ion-label>
                </div>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>

