<ion-content color="light" class="data-table" class="variable-income-view">
    <ion-item *ngIf="budgetItemModel.length <= 0" class="reminder-item">
        <ion-label class="reminder" text-wrap>Add a New Variable Income By Clicking The Add Button Below</ion-label>
    </ion-item>
    <ion-list class="data-list">
        <ion-item-sliding *ngFor="let item of budgetItemModel">
            <ion-item-options side="start">
                <ion-item-option color="warning" (click)="editItem('Variable Income', item)"><ion-icon name="create"></ion-icon></ion-item-option>
            </ion-item-options>
            <app-budget-item [theItem]=item></app-budget-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteItem(item)"><ion-icon name="trash"></ion-icon></ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-tab-button tab="addpage">
            <ion-fab-button (click)="presentModal('Variable Income')"><ion-icon name="add"></ion-icon></ion-fab-button>
        </ion-tab-button>
    </ion-fab>
  </ion-content>