<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Budget Balance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="balance-toolbar">
  <ion-tabs #budgetBalaceTabs (ionTabsDidChange)="ionTabChange(budgetBalaceTabs)">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="expense">
        <ion-icon name="arrow-round-up"></ion-icon>
        <ion-label>Expense</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="income">
        <ion-icon name="arrow-round-down"></ion-icon>
        <ion-label>Income</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="summary">
        <ion-icon name="analytics"></ion-icon>
        <ion-label>Summary</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
