<ion-content class="expense-view">
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="fixed-expense">
                <div class="content">
                    <ion-icon name="bus"></ion-icon>
                    <ion-label>Fixed</ion-label>
                </div>
            </ion-tab-button>

            <ion-tab-button tab="variable-expense">
                <div class="content">
                    <ion-icon name="film"></ion-icon>
                    <ion-label>Variable</ion-label>
                </div>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>
