.expense-view{
    --background: transparent;
    ion-tab-bar{
        --background: transparent;
        border: none;
        height: 5em;
        ion-tab-button{
            background: white;
            border-radius: 1em;
            max-width:10em;
            margin:1em;
            ion-icon, ion-label{
                font-size: 1.8em;
                font-weight: bold;
                color: #467fd7;
            }
        }
        ion-tab-button.tab-selected{
            background: #467fd7;
            ion-icon, ion-label{
                color: white;
            }
        }
    }
}